:host {
    position: relative;
    color: #333333;
    background: #fcfcfc center center no-repeat;
    padding: 0 0 0 0;
    display: block;
    text-align: center;
}

@media (min-width: 768px) {
    :host {
        text-align: left;
        padding: 60px 0 0 0;
    }
}

.overlay {
    background: #fcfcfc center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
}

.section-content {
    font-weight: 500;
    font-size: 21px;
}

.about-image {
    width: 100%;
}

@media (max-width: 767px) {
    .learn-more,
    .about-image {
        margin-top: 20px;
    }
}