<div class="blog-page blog-content-1 animated fadeIn">
    <div *ngFor="let i of [1, 2]" class="blog-post-lg bordered blog-container">
        <div class="blog-title-transparent">
            <div class="blog-post-desc loading-content">.</div>
        </div>
        <div class="blog-post-content">
            <h2 class="blog-title blog-post-title loading-content">.</h2>
            <p class="blog-post-desc loading-content">
                . <br/> <br/> <br/> <br/>
            </p>
            <div class="blog-post-foot loading-content">.</div>
        </div>
    </div>
</div>