.timeline-badge-userpic {
    height: 80px;
    width: 80px
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.blog-content-1 {
    padding: 0;
}

.blog-page .blog-container {
    margin: 0;
}

.blog-content-1 .blog-post-lg > .blog-img-thumb {
    height: 180px;
}

.blog-content-1 .blog-post-content > .blog-post-title {
    margin: 0 0 15px;
    line-height: 0.7
}

.blog-content-1 .blog-post-content > .blog-post-desc {
    margin: 0
}

.timeline-body-alerttitle, .timeline-body-title,
.timeline-body-time {
    display: block;
    margin-left: 0
}

.blog-content-1 .blog-post-desc >>> * {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    font-family: 'MuseoSans', sans-serif;
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: none;
    border: none;
}

.blog-content-1 .blog-post-desc >>> *:not(a) {
    color: #a0a9b4;
}

.blog-content-1 .blog-post-lg > .blog-post-content > .blog-post-foot {
    border: none;
    padding: 0;
}

.blog-content-1 .blog-post-content > .blog-post-foot > .blog-post-meta > a {
    font-weight: 400;
}