.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    border-radius: 5px;
    background-color: #da3743;
    color: white;
}

.pagination a.disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.pagination a:hover:not(.active):not(.disabled) {
    background-color: #dddddd;
    cursor: pointer;
}