:host {
    position: relative;
    color: #333333;
    background-color: #e3f2fd;
    padding: 50px 0 0 0;
    display: block;
    text-align: center;
}
@media (min-width: 768px) {
    :host {
        text-align: left;
        padding: 60px 0 0 0;
    }
}

.overlay {
    background: url(./assets/images/home-page/reservation-bg.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 0;
}

.section-content {
    font-weight: 500;
    font-size: 21px;
}

.button {
    float: left;
    width: 100%;
    text-align: center;
}

.learn-more {
    background: transparent;
    border: 1px solid #333333;
    color: #333333;
    font-size: 18px;
    letter-spacing: 0.25vmin;
    border-radius: 500px;
    padding: 7px 20px;
    box-shadow: 0 0 20px rgba(16, 16, 16, 0.25);
    text-decoration: none;
    margin: 0;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.learn-more:hover {
    background: #333333;
    color: #fcfcfc;
}

.reservations-image {
    width: 100%;
}

@media (max-width: 767px) {
    .learn-more,
    .reservations-image {
        margin-top: 20px;
    }
}