section {
  display: block;
  position: relative;
  color: #fcfcfc;
  background-color: #fcfcfc;
  padding: 0 0 100px 0;
}

.overlay {
  background: url(./assets/images/about-page/background.png) center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* container {
  padding: 50px 0 0 0;
} */

h1 {
  font-weight: 700;
  font-size: 60px;
  margin-top: 0;
  color: #333333;
}

@media (max-width: 991px),
(max-device-width: 991px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 767px),
(max-device-width: 767px) {
  h1 {
    font-size: 4rem;
  }
}

p {
  font-weight: 700;
  font-size: 25px;
  margin: 50px 0 10px 0;
  color: #333333;
}

.line {
  height: 0.5rem;
  width: 5rem;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  background-color: brown;
}

.section-content {
  font-weight: 500;
  font-size: 21px;
}

.about-image {
  width: 80%;
}

.phone-middle {
  padding: 40px 0;
}

.phone-bottom {
  padding: 60px 0 0 0;
}

@media (max-width: 767px) {
  .learn-more,
  .about-image {
    width: 50%;
  }
  .mobile {
    display: none;
  }
}

.league-content .sub-content {
  padding: 60px 20px 0 20px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 767px),
(max-device-width: 767px) {
  .league-content .sub-content {
    height: auto;
    padding: 50px 0 0 0;
    text-align: justify;
  }
}

@media (min-width: 768px) {
  .col-sm-6 {
    width: 100%;
  }
}

.league-content .sub-content .title {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.3;
  padding: 10px 0;
  color: #ffffff
}

.league-content .sub-content .description {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.3;
  color: #ffffff
}

.league-content .sub-content .sub-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  margin: 10px 0 0 0;
  color: #ffffff
}

@media (max-width: 767px),
(max-device-width: 767px) {
  .league-content .sub-content .description {
    font-size: 26px;
  }
}

.league-content .sub-content .learn-more {
  cursor: pointer;
  color: #4a8fe7;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.league-content .sub-content .learn-more:hover {
  color: #333333;
}

.league-content .sub-content .children {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  padding: 15px 0 0 0;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  color: #787878;
}

.league-content .sub-content .show-less {
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  padding: 15px 0 0 0;
  color: #787878;
  cursor: pointer;
}

.league-content .sub-content .children:hover,
.league-content .sub-content .show-less:hover {
  color: #333333;
}

.about-activity {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 100px;
}

/* Create four equal columns that sits next to each other */

.left-activity-container {
  flex: 50%;
  max-width: 50%;
  padding: 0 10px;
}

.right-activity-container {
  flex: 50%;
  max-width: 50%;
  padding: 0 10px;
}

.left-activity-container img,
.right-activity-container img {
  border: 1px solid #d2d2d2;
  width: 100%;
  height: auto;
}

@media (max-width: 767px),
(max-device-width: 767px) {
  .about-activity {
    padding: 0 10px;
  }

  .left-activity-container {
    flex: 100%;
    padding: 0;
    max-width: 100%;
    margin: 10px auto;
  }

  .right-activity-container {
    flex: 100%;
    padding: 0;
    max-width: 100%;
    margin: 10px auto;
  }
}

.column {
  height: 100%;
  width: 100%;
}

/* .column div{
  width: 100%;
  height: 100%;
  background-image : url(./assets/images/league-page/two.jpg);
  animation: moveX 1s infinite;
} */

@-webkit-keyframes moveImage {
  from {
    background-position: -600px;
    left: 240px
  }
  to {
    background-position: -1800px;
    left: 770px
  }
}

.frameImage {
  width: 230px;
  height: 700px;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 1100px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.activity {
  background-color: #fff;
border: 3px solid transparent;
border-radius: 8px;
color: #ccd6dd;
cursor: pointer;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: column;
flex-direction: column;
-ms-flex-pack: justify;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
opacity: 0;
padding: 1.5rem 1.5rem .9975rem;
position: absolute;
text-decoration: none;
left: 0;
right: 0;
bottom: 0;
transition: bottom .3s ease-out .6s,opacity .3s ease-out .6s;
transition-delay: 0.6s, 0.6s;
vertical-align: middle;
width: 91.52542%;
z-index: 2;
}