<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>Grow your potential</p>
                <h1>Doing what matters to you.</h1>
                <div class="line"></div>
            </div>
        </div>
        <div class="about-activity">
            <div class="left-activity-container">
                <img src="./assets/images/about-page/DecentralizedSports.png">
            </div>
            <div class="right-activity-container">
                <img src="./assets/images/about-page/Makingofaprofessional.png">
            </div>
        </div>
    </div>
</section>