:host {
 min-height: 100vh;
 display: block;
}

.text-grey {
 color: #727274;
}

#overlay {
 width: 100%;
 height: 100%;
 left: 0;
 top: 0;
}

#overlay.non-fixed {
 position: absolute;
 top: auto;
 bottom: 0;
}

#overlay.blur {
 filter: blur(5px)
}

#overlay {
 z-index: -2;
 position: absolute;
 background: url(./assets/images/brands-page/Background_2.jpg) no-repeat center top;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

.home-section {
 background: #fcfcfc;
 overflow: hidden;
}

header.first-section {
 overflow: hidden;
 width: 100%;
 background: rgba(0, 0 ,0, 0.75);
 position: relative;
 -webkit-transition: all .3s;
 -moz-transition: all .3s;
 -ms-transition: all .3s;
 -o-transition: all .3s;
 transition: all .3s;
}

header.first-section > .container {
 height: 100%;
}

header .container .intro-text {
 margin: 15vh auto 5vh auto;
 padding: 3vmin 0;
 line-height: 1.3;
}

header .container .intro-text .intro-heading {
 color: #ffffff;
 font-weight: bold;
 letter-spacing: -1px;
 font-size: 6rem;
 text-align: center;
 margin: auto;
 word-break: break-word;
}

@media (max-width: 767px) {
 header .container .intro-text .intro-heading {
  font-size: 4rem;
 }
}

header .container .description-text {
 margin: 20vh auto auto auto;
 font-size: 25px;
 width: 90%;
 padding: 0;
 color: #303030;
 line-height: 1.3;
}

@media (max-width: 767px) {
 header .container .description-text {
  margin: 15vh auto auto auto;
  font-size: 20px;
  width: 100%;
 }
}

header i {
 font-size: 2em;
}

header .row {
 margin: 2em auto;
 line-height: 1.7;
}

header .price {
 font-size: 3em;
}

.main-description {
 font-size: 5vmin;
 padding: 20px;
}

.sub-description {
 font-size: 2.5vmin;
}

.accept-button {
 font-weight: bold;
 display: block;
 width: fit-content;
 background: #3ab549;
 border: 1px solid #3ab549;
 color: #ffffff;
 font-size: 18px;
 letter-spacing: 0.25vmin;
 border-radius: 500px;
 padding: 10px 20px;
 box-shadow: 0 0 20px rgba(16, 16, 16, 0.25);
 text-decoration: none;
 margin: auto;
 cursor: pointer;
 transition: all .3s;
}

.accept-button:hover {
 background: #339f40;
 color: #ffffff;
}

.accepted-button {
 font-weight: bold;
 display: block;
 width: fit-content;
 background: #cacaca;
 border: 1px solid #cacaca;
 color: #ffffff;
 font-size: 18px;
 letter-spacing: 0.25vmin;
 border-radius: 500px;
 padding: 10px 20px;
 box-shadow: 0 0 20px rgba(16, 16, 16, 0.25);
 text-decoration: none;
 margin: auto;
 transition: all .3s;
}

.cancel-button {
 color: #b9b9b9;
 font-size: 18px;
 letter-spacing: 0.25vmin;
 padding: 10px 20px;
 cursor: pointer;
 display: block;
 width: fit-content;
 margin: auto;
}

section.container .row {
 padding: 2em 0;
 border-bottom: 1px solid #ececec;
}

.gallery-container {
 margin: 0;
}

.gallery {
 position: relative;
 display: inline-block;
 overflow: hidden;
 width:  150px;
 height: 150px;
 margin: 10px 10px 10px 0;
 background-position: 50% 50%;
 background-repeat:   no-repeat;
 background-size:     cover;
 border-radius: 4px;
}

a.play-store img,
a.app-store img {
 height: 50px;
 margin: 10px auto;
}