<section class="feature social">
    <div class="container">
        <div frk-scroll animation="fadeInLeft" class="feature-image col-sm-6">
            <div class="image-content">
                <div class="shadow"></div>
                <div class="phone">
                    <div class="screen-shot"></div>
                </div>
            </div>
        </div>
        <div class="feature-content col-sm-6">
            <div class="sub-content" [class.show-children]="false">
                <div class="title">Starts with you. Builds your community.</div>
                <div class="description">Never lose motivation.</div>
                <div class="sub-description">
                    Heed the call to organize your distriKt into a conquering legion.
                    Each united to protect its kingdom from invaders, distriKts collide, and the battle begins!
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature social child">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 text-center">
                <div class="child-feature-image">
                    <img [src]="'./assets/images/guild-page/Stats.png'" alt="">
                </div>
                <div class="child-feature-title">
                    Stats
                </div>
                <div class="child-feature-description">
                    <span>DistriKt tracks your runs and shares your community’s most recent activities.</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="child-feature-image">
                    <img [src]="'./assets/images/guild-page/Training.png'" alt="">
                </div>
                <div class="child-feature-title">
                    Training
                </div>
                <div class="child-feature-description">
                    <span>Kick your training into a higher gear with training plans created by expert coaches.</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="child-feature-image">
                    <img [src]="'./assets/images/guild-page/Stamina.png'" alt="">
                </div>
                <div class="child-feature-title">
                    Stamina
                </div>
                <div class="child-feature-description">
                    <span>Exciting challenges to test your stamina in a variety of exercises.</span>
                </div>
            </div>
            <div class="col-sm-3 text-center">
                <div class="child-feature-image">
                    <img [src]="'./assets/images/guild-page/stories.png'" alt="">
                </div>
                <div class="child-feature-title">
                    Stories
                </div>
                <div class="child-feature-description">
                    <span>Stories created locally. So good you'll want to play every day.</span>
                </div>
            </div>
        </div>
    </div>
</section>