
/*.login .logo {*/
  /*margin: 60px auto 20px;*/
  /*padding: 15px;*/
  /*text-align: center*/
/*}*/

/*.login /deep/ .content {*/
  /*width: 360px;*/
  /*margin: 0 auto;*/
  /*padding: 20px 30px 15px;*/
  /*-webkit-border-radius: 7px;*/
  /*-moz-border-radius: 7px;*/
  /*-ms-border-radius: 7px;*/
  /*-o-border-radius: 7px;*/
  /*border-radius: 7px*/
/*}*/

/*.login /deep/ .content h3, .login /deep/ .content h4 {*/
  /*color: #eee*/
/*}*/

/*.login /deep/ .content label, .login /deep/ .content p {*/
  /*color: #fff*/
/*}*/

/*.login /deep/ .mt-checkbox > span:after {*/
  /*border-color: #eee*/
/*}*/

/*.login /deep/ .content .forget-form, .login /deep/ .content .login-form {*/
  /*padding: 0;*/
  /*margin: 0*/
/*}*/

/*.login /deep/ .content .form-control {*/
  /*background-color: rgba(255, 255, 255, 0.19);*/
  /*border: none;*/
  /*border-radius: 2px!important;*/
  /*color: #fcfcfc*/
/*}*/

/*.login /deep/ .content .forget-form, .login /deep/ .content .register-form {*/
  /*display: none*/
/*}*/

/*.login /deep/ .content .form-title {*/
  /*font-weight: 300;*/
  /*margin-bottom: 25px*/
/*}*/

/*.login /deep/ .content .form-actions {*/
  /*background-color: transparent;*/
  /*clear: both;*/
  /*border: 0;*/
  /*padding: 0 30px 25px;*/
  /*margin-left: -30px;*/
  /*margin-right: -30px*/
/*}*/

/*.login /deep/ .content .forget-form .form-actions {*/
  /*border: 0;*/
  /*margin-bottom: 0;*/
  /*padding-bottom: 20px*/
/*}*/

/*.login /deep/ .content .register-form .form-actions {*/
  /*border: 0;*/
  /*margin-bottom: 0;*/
  /*padding-bottom: 0*/
/*}*/

/*.login /deep/ .content .form-actions .rememberme {*/
  /*margin-top: 8px;*/
  /*display: inline-block*/
/*}*/

/*.login /deep/ .content .form-actions .btn {*/
  /*margin-top: 1px*/
/*}*/

/*.login /deep/ .content .forget-password {*/
  /*margin-top: 25px*/
/*}*/

/*.login /deep/ .content .create-account {*/
  /*border-top: 1px dotted #eee;*/
  /*padding-top: 10px;*/
  /*margin-top: 15px*/
/*}*/

/*.login /deep/ .content .create-account a {*/
  /*display: inline-block;*/
  /*margin-top: 5px*/
/*}*/

/*.login /deep/ .content .select2-container i {*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*color: #ccc;*/
  /*z-index: 1;*/
  /*top: 1px;*/
  /*margin: 4px 4px 0 -1px;*/
  /*width: 16px;*/
  /*height: 16px;*/
  /*font-size: 16px;*/
  /*text-align: center*/
/*}*/

/*.login /deep/ .content .has-error .select2-container i {*/
  /*color: #b94a48*/
/*}*/

/*.login /deep/ .content .select2-container a span {*/
  /*font-size: 13px*/
/*}*/

/*.login /deep/ .content .select2-container a span img {*/
  /*margin-left: 4px*/
/*}*/

/*.login /deep/ .copyright {*/
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*padding: 10px;*/
  /*color: #eee;*/
  /*font-size: 13px*/
/*}*/

/*@media (max-width: 480px) {*/
  /*.login .logo /deep/ {*/
    /*margin-top: 10px*/
  /*}*/

  /*.login /deep/ .content {*/
    /*padding: 30px*/
  /*}*/

  /*.login /deep/ .content h3 {*/
    /*font-size: 22px*/
  /*}*/

  /*.login /deep/ .checkbox {*/
    /*font-size: 13px*/
  /*}*/
/*}*/

/*.login .logo /deep/ img {*/
  /*width: 100px;*/
/*}*/

/*.backstretch-cover {*/
  /*left: 0;*/
  /*top: 0;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*z-index: -9999990;*/
  /*position: fixed;*/
  /*background: #000;*/

/*}*/

/*.backstretch {*/
  /*left: 0;*/
  /*top: 0;*/
  /*overflow: hidden;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*z-index: -999999;*/
  /*position: fixed;*/
  /*opacity: 0.8;*/
  /*background: url(./assets/images/login/business.jpg) center center no-repeat;*/
  /*background-size: cover;*/
/*}*/
