:host {
    position: relative;
    color: #fcfcfc;
    background-color: #101010;
    padding: 50px 0;
    display: block;
}
@media (min-width: 768px) {
    :host {
        padding: 60px 0;
    }
}

.overlay {
    background: url(./assets/images/home-page/it-starts-with-you/background.jpeg) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

h1 {
    font-weight: 700;
}

.stack {
    text-decoration: none;
    box-shadow: 0 0 10px rgba(16, 16, 16, 0.2);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: auto auto 50px auto;
    position: relative;
}

.stack img {
    width: 100%;
}

.stack .title {
    width: 202px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: calc(50% - 200px / 2);
}

.stack .description {
    text-align: center;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .stack .description {
        height: 130px;
    }
}

@media (min-width: 992px) {
    .stack .description {
        height: 100px;
    }
}

@media (min-width: 1200px) {
    .stack .description {
        height: 80px;
    }
}

.stack .image-content {
    height: 470px;
    position: relative;
    margin: auto;
}

.stack .image-content .phone {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/home-page/phone.png) center center no-repeat;
    background-size: contain;
}

.stack .image-content .screen-shot {
    position: absolute;
    top: 57px;
    left: calc(50% - 200px / 2);
    width: 202px;
    height: 356px;
    border-radius: 2px;
}

.stack.discover .image-content .screen-shot {
    background: url(./assets/images/home-page/it-starts-with-you/iOS-home.jpg) center center no-repeat;
    background-size: cover;
}

.stack.review .image-content .screen-shot {
    background: url(./assets/images/home-page/it-starts-with-you/iOS-event.jpg) center center no-repeat;
    background-size: cover;
}

.stack.follow .image-content .screen-shot {
    background: url(./assets/images/home-page/it-starts-with-you/iOS-guild.jpg) center center no-repeat;
    background-size: cover;
}