<div class="site-wrapper clearfix">
    <app-page-header></app-page-header>
    <app-page-heading></app-page-heading>
    <div class="site-content">
        <div class="container">
            <div class="row">
                <div class="sidebar col-md-3 col-lg-3">
                    <app-second-menu-bar></app-second-menu-bar>
                </div>
                <div class="content col-md-9 col-lg-6">
                    <!-- BEGIN PAGE BASE CONTENT -->
                    <ng-content select="[page-body]"></ng-content>
                </div>
                <div class="sidebar col-lg-3 visible-lg">
                    <ng-content select="[page-right-sidebar]"></ng-content>
                </div>
            </div>
        </div>
    </div>
</div>