<div class="login">
    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-md-12 login-container bs-reset mt-login-5-bsfix bg-white bg-font-white">
                <div class="login-form-step height-100">
                    <div class="login-form-step-center height-100">
                        <div class="form height-100 register-form">
                            <div class="form-body register-form-center">
                                <form class="login-form" #resetPasswordForm="ngForm">
                                    <div *ngIf="!isUpdatedPassword">
                                        <div class="font-dark margin-bottom-25">
                                            <div class="logo text-center margin-bottom-25">
                                                <a [routerLink]="['/']">
                                                    <img src="./assets/images/logo/freakick_logo_dark.png" alt="" width="100"/> </a>
                                            </div>
                                            <div class="h2 text-center">New Freakick ID password</div>
                                            <div class="h4 thin text-center">No worries. We got you! Please enter a new password. Avoid passwords that are easy to guess.</div>
                                        </div>
                                        <hr>
                                        <div class="font-dark form-group"
                                             [class.has-error]="!pwd.valid && pwd.dirty">
                                            <input #pwd="ngModel" name="newPassword" required
                                                   maxlength="55"
                                                   autocomplete="off"
                                                   placeholder="New password (*)"
                                                   class="form-control form-control-solid placeholder-no-fix input-lg"
                                                   [(ngModel)]="password" (keyup.enter)="reset()"
                                                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                                   type="password"/>
                                            <span *ngIf="!pwd.valid && pwd.dirty"
                                                   class="help-block">Your password must have: At least one number and a symbol, upper & lower letters, and 8 or more characters.</span>
                                        </div>
                                        <div class="font-dark form-group"
                                             [class.has-error]="!repwd.valid && repwd.dirty">
                                            <input #repwd="ngModel" name="repeatNewPassword" required
                                                   maxlength="55"
                                                   autocomplete="off" type="password"
                                                   placeholder="Repeat new password (*)"
                                                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                                   class="form-control form-control-solid placeholder-no-fix input-lg"
                                                   [(ngModel)]="repeatPassword" (keyup.enter)="reset()"/>
                                            <span *ngIf="!repwd.valid && repwd.dirty"
                                                    class="help-block">Your password must have: At least one number and a symbol, upper & lower letters, and 8 or more characters.</span>
                                        </div>
                                        <div class="font-dark row">
                                            <div class="col-xs-4">
                                                <button class="btn btn-block btn-circle blue bold"
                                                        [disabled]="!resetPasswordForm.form.valid || isLoading"
                                                        (click)="reset()">
                                                    <span>Reset</span>
                                                    <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="isUpdatedPassword">
                                        <div class="font-dark margin-bottom-25">
                                            <div class="logo text-center margin-bottom-25">
                                                <a [routerLink]="['/']">
                                                    <img src="./assets/images/logo/freakick_logo_dark.png" alt="" width="100"/> </a>
                                            </div>
                                            <div class="h2 text-center">You're got a new password</div>
                                            <div class="h4 thin text-center">Awesome, you've successfully updated your password.</div>
                                        </div>
                                        <div class="font-dark row">
                                            <div class="col-xs-4 col-xs-offset-4">
                                                <button class="btn btn-block btn-circle blue bold"
                                                        [disabled]="!resetPasswordForm.form.valid || isLoading"
                                                        [routerLink]="['/', 'login']">
                                                    <span>Go to Freakick</span>
                                                    <i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
