<section class="feature">
    <div class="container">
        <div class="overlay"></div>
        <div class="feature-content col-sm-6 text-left">
            <div class="sub-content" [class.show-children]="false">
                <div class="title">Connect</div>
                <div class="description">Just show up.  We'll make the introductions.</div>
                <div class="sub-description">
                    Freakick is a place to find great activities happening around the city you're in. Log in to do more of what matters to you.
                </div>
            </div>
        </div>
    </div>
</section>