<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="filter no-select">
                <div class="multiple-checkbox">
                    <div class="title color-red"><i class="fa fa-futbol-o" aria-hidden="true"></i> Sports</div>
                    <label *ngFor="let sport of availableSports">
                        <input type="checkbox" name="sport" checked
                               [disabled]="filterSports.length === 1 && sport.sportId === filterSports[0].sportId"
                               (change)="filterSportsChanged(sport, $event.target.checked)"/>
                        <span>{{ sport.sportName }}</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div *ngIf="loadingResultData">
                <frk-loading-circle></frk-loading-circle>
            </div>
            <div class="list-group" *ngIf="receivedFacilities && receivedFacilities.length">
                <div *ngFor="let receivedFacility of receivedFacilities; let i = index"
                     class="list-group-item col-sm-6 court-detail no-margin"
                     [class.hide]="loadingResultData">
                    <div class="col-sm-12">
                        <div class="court-info">
                            <div class="court-info-line">
                                <div class="col-sm-8 no-padding">
                                    {{ i + 1 }}.
                                    <span class="court-opening-hour " data-toggle="tooltip"
                                         title="Opening hour: from {{ receivedFacility.openedTime }} to {{ receivedFacility.closedTime }}">
                                        Opening hour:
                                        {{ receivedFacility.openedTime }} - {{ receivedFacility.closedTime }}
                                    </span>
                                </div>
                                <div class="col-sm-12 no-padding text-left">
                                    <span class="court-fieldCode" data-toggle="tooltip"
                                         title="Field: {{ receivedFacility.fieldCode }}">
                                        <i class="fa fa-server" aria-hidden="true"></i> Field number:
                                        {{ receivedFacility.fieldCode }}
                                    </span>
                                </div>
                                <div class="col-sm-12 no-padding text-left">
                                    <span class="court-fieldSize" data-toggle="tooltip"
                                         title="Size: {{ receivedFacility.fieldSize }} players/team">
                                        <img class="stadium" src="/assets/images/icons/stadium-24.png"> Field size:
                                        {{ receivedFacility.fieldSize }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="court-info-line field-opening-hour">
                            <button class="btn btn-sm btn-opening" type="button"
                                    (click)="onBookingFacility(receivedFacility)"> Buy a ticket </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!loadingResultData && (receivedFacilities && !receivedFacilities.length)"
                 class="courts-result">
                <div class="result-container">
                    <div class="no-result col-xs-12">
                        There are no results found.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bookingFacilityModal" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel">
    <div *ngIf="!selectedFacility">
        <frk-loading-circle></frk-loading-circle>
    </div>
    <sd-booking-facility-ticket
            *ngIf="selectedFacility"
            [facility]="selectedFacility"
    ></sd-booking-facility-ticket>
</div>


