a {
  color: #fcfcfc;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #fcfcfc;
}

#overlay,
#video {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}

#overlay.non-fixed,
#video.non-fixed {
  position: absolute;
  top: auto;
  bottom: 0;
}

#overlay {
  z-index: -2;
  position: fixed;
  background: url(./assets/images/landing-page/background.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#video {
  z-index: -1;
  position: fixed;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  background: url(./assets/images/landing-page/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header .container .intro-text {
  margin: 40vh auto auto auto;
  padding: 0;
}

header .container .freakick-text {
  margin: 35vh auto auto auto;
  font-size: 25px;
  width: 60%;
  padding: 0;
}

@media (max-width: 767px) {
  header .container .intro-text {
    margin: 50vh auto auto auto;
  }

  header .container .freakick-text {
    margin: 30vh auto auto auto;
    font-size: 20px;
    width: 80%;
  }
}

header .container .intro-text .intro-heading {
  text-shadow: 0 0 20px rgba(16, 16, 16, 0.25);
  text-transform: lowercase;
  font-size: 9vmin;
  line-height: 7vmin;
  margin-bottom: 7vmin;
}

header .container .intro-text #go-to-business {
  color: #fcfcfc;
  font-size: 22px;
  letter-spacing: 0.25vmin;
  border-radius: 500px;
  padding: 1.5vmin 6vmin;
  box-shadow: 0 0 20px rgba(16, 16, 16, 0.25);
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
}

header .container .intro-text #get-freakick {
  display: inline-block;
  padding-top: 80px;
  position: relative;
  font-weight: 100;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
header .container .intro-text #get-freakick:hover {
  opacity: .5;
}
header .container .intro-text #get-freakick span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
header .container .intro-text #get-freakick span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
header .container .intro-text #get-freakick span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
header .container .intro-text #get-freakick span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header .container .intro-text #go-to-business {
  background: transparent;
  border: 0.3vmin solid #fcfcfc;
}

.home-section {
  background: #fcfcfc;
  overflow: hidden;
}

header.home-section {
  height: 150vh;
  width: 100%;
  color: #fcfcfc;
  background: transparent;
  position: relative;
}

header.home-section > .container {
  height: 100%;
}