
.feature.leagues {
    background-color: #fff1de;
}
section {
    padding: 0 0 60px 0;
    display: block;
}
@media (min-width: 768px) {
    section {
        padding: 80px 0;
    }
}

.feature-content .sub-content {
    height: 470px;
    padding: 100px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: left;
}

.feature-content .sub-content.show-children {
    padding: 0;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .feature-content .sub-content {
        height: auto;
        padding: 30px 0 0 0;
        text-align: center;
    }
}

.feature-content .sub-content .title {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.3;
    padding: 10px 0;
}

.feature-content .sub-content .description {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
}

.feature-content .sub-content .sub-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    padding: 10px 0;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .feature-content .sub-content .description {
        font-size: 20px;
    }
}

.feature-content .sub-content .learn-more {
    cursor: pointer;
    color: #4a8fe7;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.feature-content .sub-content .learn-more:hover {
    color: #333333;
}

.feature-content .sub-content .children {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #787878;
}

.feature-content .sub-content .show-less {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    color: #787878;
    cursor: pointer;
}

.feature-content .sub-content .children:hover,
.feature-content .sub-content .show-less:hover  {
    color: #333333;
}

/* Leagues section */
.leagues .image-content {
    height: 470px;
    position: relative;
    margin: auto;
}

.leagues .image-content .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/home-page/phone-shadow.png) center center no-repeat;
    background-size: contain;
    transform: translate3d(-10px, 30px, 0);
}

.leagues .image-content .phone {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: url(./assets/images/home-page/phone.png) center center no-repeat;
    background-size: contain;
}

.leagues .image-content .phone .screen-shot {
    background: url(./assets/images/home-page/leagues-screen-shoot.png) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 57px;
    left: calc(50% - 200px / 2);
    width: 202px;
    height: 356px;
    border-radius: 2px;
}

.feature.child {
    padding-top: 0;
}

.child-feature-image img {
    width: 50px;
    margin: 20px;
    opacity: 0.6;
}

.child-feature-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
}

.child-feature-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    padding: 10px 0;
}

a.play-store img,
a.app-store img {
    height: 50px;
    margin: 10px auto;
}

