:host {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    margin: 0;
    display: block;
    position: relative;
    box-sizing: content-box;
}

:host-context(.home-section) {
    background: transparent;
}

#pinContainer {
    overflow: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: auto;
    left: 0;
    right: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

#pinContainer.after-slide {
    top: auto;
    bottom: 0;
}

#pinContainer.on-slide {
    position: fixed;
}

#slideContainer {
    height: 100%;
}

.next-slide,
.prev-slide {
    position: fixed;
    top: calc(50% - 7.5vmin);
    cursor: pointer;
    color: #fcfcfc;
    font-size: 15vmin;
}

.next-slide:hover,
.prev-slide:hover {
    text-shadow: 0 0 6px #fcfcfc;
}

.next-slide {
    right: 2vmin;
}

.prev-slide {
    left: 2vmin;
}