.feature.reservations {
    background-color: #e3f2fd;
}

section {
    padding: 60px 0;
    display: block;
}
@media (min-width: 768px) {
    section {
        padding: 80px 0;
    }
}

.feature-content .sub-content {
    height: 470px;
    padding: 100px 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.feature-content .sub-content.show-children {
    padding: 0;
}

.reservations .sub-content {
    text-align: left;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .feature-content .sub-content {
        height: auto;
        padding: 30px 0 0 0;
        text-align: center;
    }
}

.feature-content .sub-content .title {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.3;
    padding: 10px 0;
}

.feature-content .sub-content .description {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
}

.feature-content .sub-content .sub-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    padding: 10px 0;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .feature-content .sub-content .description {
        font-size: 26px;
    }
}

.feature-content .sub-content .learn-more {
    height: 40px;
    font-weight: 500;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #fcfcfc;
    font-size: 18px;
    letter-spacing: 0.25vmin;
    border-radius: 500px;
    padding: 0.5vmin 3vmin;
    box-shadow: 0 0 20px rgba(16, 16, 16, 0.25);
    text-decoration: none;
    cursor: pointer;
    background: #242424;
}

.feature-content .sub-content .learn-more:hover {
    background: #323232;
}

.feature-content .sub-content .children {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #787878;
}

.feature-content .sub-content .show-less {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    color: #787878;
    cursor: pointer;
}

.feature-content .sub-content .children:hover,
.feature-content .sub-content .show-less:hover  {
    color: #333333;
}

/* Reservations section */
.reservations .image-content {
    height: 470px;
    position: relative;
    margin: auto;
}

.reservations .image-content .laptop {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background: url(./assets/images/guild-page/map.png) center center no-repeat;
    background-size: contain;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .reservations .image-content {
        height: 220px;
    }

    .reservations .image-content .laptop {
        width: 100%;
    }
}

.feature.child {
    padding-top: 0;
}

.child-feature-image {
    height: 130px;
    margin: 20px;
}

.child-feature-image img {
    height: 100%;
    opacity: 0.6;
}

.child-feature-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3;
}

.child-feature-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    padding: 10px 0;
}