
.field-information {
  height: 100%;
  padding: 2vmin;
  line-height: 2;
  font-size: 120%;
}

.field-information .court-name {
  width: 100%;
  line-height: 1.5;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.field-information img {
  width: 1.9vmin;
  vertical-align: initial;
}

.field-information .court-rating {
  color: #787878;
}

.field-information .court-rating i[class*="fa-star"] {
  color: #F9B124;
}

.field-information .court-rating i[class*="fa-user"] {
  font-size: 90%;
  vertical-align: text-top;
}

.field-information .court-phone,
.field-information .court-opening-hour,
.field-information .court-fieldCode,
.field-information .court-fieldSize {
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #787878;
  margin-right: 1vmin;
}

.field-information .court-address {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #787878;
}

.field-information .book {
  float: right;
  cursor: pointer;
  font-weight: normal;
}

.input-group {
  width: 100%;
  background-color: #f6f6f6;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.input-group .form-control.frk-btn,
.input-group .form-control.frk-input {
  border-right: 1px solid #ddd;
  text-overflow: ellipsis;
  font-size: 1.9vmin;
  box-shadow: none;
  border-radius: 0;
  height: 6vmin;
  float: left;
}

.input-group .form-control.frk-input {
  width: calc(100% / 2);
}

.datetime-picker {
  padding: 0;
  font-size: inherit;
}

.datetime-picker #datetime-picker-booking-class {
  height: 100%;
}

.datetime-picker #datetime-picker-booking-class.input-group {
  box-shadow: none;
}

.datetime-picker #datetime-picker-booking-class input {
  padding: 5px 10px;
  border: 0;
  font-size: inherit;
  line-height: calc(6vmin - 10px);
}

.datetime-picker #datetime-picker-booking-class span.input-group-addon {
  height: 100%;
  padding: 5px 10px;
}

.input-label {
  width: 100%;
}

.input-label > div {
  width: calc(100% / 2);
  text-align: left;
  padding: 1vmin;
  float: left;
}

#class-ticket-daterange {
  width: 100%;
  border: none;
  height: 100%;
  margin: 0;
}

#class-ticket-daterange ~ i {
  position: absolute;
  bottom: 24px;
  right: 10px;
  top: auto;
  cursor: pointer;
}
