.overlay {
    /*background: url(./assets/images/brands-page/background_3.jpg) center top no-repeat;*/
    background: #e3f2fd;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    padding: 50px 0;
    display: block;
    position: relative;
    color: #494843;
    background-color: #101010;
}

.sub-content {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .sub-content {
        height: auto;
        text-align: center;
    }
}

.sub-content .title {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.3;
    padding: 10px 0;
}

.sub-content .description {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
    padding: 10px 0;
    text-align: justify;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .sub-content .description {
        font-size: 26px;
    }
}

.sub-content .learn-more {
    cursor: pointer;
    color: #4a8fe7;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.sub-content .learn-more:hover {
    color: #333333;
}

.sub-content .children {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #787878;
}

.sub-content .show-less {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    color: #787878;
    cursor: pointer;
}

.sub-content .children:hover,
.sub-content .show-less:hover  {
    color: #333333;
}

.feature.child {
    padding: 50px 0;
    color: #161015;
    background-color: #fcfcfc
}

.child-feature-image img {
    width: 50px;
    margin: 20px;
    opacity: 0.6
}

.child-feature-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.3
}

.child-feature-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    padding: 10px 0
}

.child-feature-image {
  font-size: 3rem;
  opacity: 0.6
}
