<sd-navbar></sd-navbar>

<header #section class="first-section">
    <div class="container animated fadeIn">
        <div class="intro-text">
            <div class="intro-title">Freakick means</div>
            <div id="typewriter" class="intro-heading">
                {{ typeWriterDisplay$ | async }}
            </div>
        </div>
    </div>
</header>

<section class="home-section">
    <abt-first-section></abt-first-section>
</section>
<section class="home-section">
    <abt-build-section></abt-build-section>
</section>
<section class="home-section">
    <abt-second-section></abt-second-section>
</section>
<section class="home-section">
    <abt-network-section></abt-network-section>
</section>
<section class="home-section">
    <abt-third-section></abt-third-section>
</section>
<section class="home-section">
    <abt-fourth-section></abt-fourth-section>
</section>
<section class="home-section">
    <abt-fifth-section></abt-fifth-section>
</section>

<sd-new-footer></sd-new-footer>
