<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>We create experiences</p>
                <h1>Be in the moment.</h1>
                <div class="line"></div>
            </div>
        </div>
        <div class="league-gallery">
            <div class="column">
                <img src="./assets/images/about-page/image1.png" alt="">
                <img src="./assets/images/about-page/image3.png" alt="">
            </div>
            <div class="column">
                <img src="./assets/images/about-page/image4.png" alt="">
                <img src="./assets/images/about-page/image2.png" alt="">
            </div>
        </div>
    </div>
</section>