.overlay {
    background: url('./assets/images/social-page/join.jpg') center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section {
    padding: 50px 0 400px 0;
    display: block;
    position: relative;
    color: #fcfcfc;
    background-color: #101010;
}

.feature-content .sub-content {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .feature-content .sub-content {
        height: auto;
        padding: 30px 0 0 0;
        text-align: center;
    }
}

.feature-content .sub-content .title {
    font-weight: 300;
    font-size: 21px;
    line-height: 1.3;
    padding: 10px 0;
}

.feature-content .sub-content .description {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.3;
}

.feature-content .sub-content .sub-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
    padding: 10px 0;
}

@media (max-width: 767px), (max-device-width: 767px) {
    .feature-content .sub-content .description {
        font-size: 26px;
    }
}

.feature-content .sub-content .learn-more {
    cursor: pointer;
    color: #4a8fe7;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.feature-content .sub-content .learn-more:hover {
    color: #333333;
}

.feature-content .sub-content .children {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #787878;
}

.feature-content .sub-content .show-less {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
    padding: 15px 0 0 0;
    color: #787878;
    cursor: pointer;
}

.feature-content .sub-content .children:hover,
.feature-content .sub-content .show-less:hover  {
    color: #333333;
}