:host {
    padding: 5px 0;
    display: block;
    box-shadow: 0 0 20px rgba(16, 16, 16, 0.25);
    background-color: #101010;
}
@media (min-width: 768px) {
    :host {
        padding: 15px 0;
    }
}

.flat {
    line-height: 0;
    font-size: 20px;
}

.country {
    color: #fcfcfc;
    font-size: 14px;
    line-height: 1.5;
    padding-right: 15px;
}

.refer {
    text-align: right;
}

.refer,
.copyright {
    color: #808080;
    font-size: 14px;
    line-height: 1.5;
}

.refer a {
    color: #fcfcfc;
    padding-left: 15px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.refer a:hover {
    text-decoration: none;
    color: #e53935;
}

.relative-link {
    line-height: 1.5;
}

.relative-link > a {
    color: #fcfcfc;
    font-size: 14px;
    padding-right: 15px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.relative-link > a:hover {
    text-decoration: none;
    color: #e53935;
}

.relative-link > a:last-child {
    border: none;
}

.social-buttons {
    margin: 0;
    text-align: right;
    cursor: pointer;
}

.social-buttons a {
    display: block;
    background-color: #dedede;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    font-size: 13px;
    line-height: 2;
    color: #101010;
    outline: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    text-align: center;
}

.social-buttons a:hover {
    color: #e53935;
}

@media (max-width: 767px) {
    .copyright,
    .relative-link,
    .social-buttons {
        text-align: center;
        padding: 5px;
    }
    .refer {
        text-align: center;
    }
}

.first-line {
    padding-bottom: 5px;
    float: left;
    width: 100%;
}

.second-line {
    border-top: 1px solid #787878;
    padding-top: 5px;
    float: left;
    width: 100%;
}